*.pth.tar
*.npy
log_dir
adv_img
# clean_cifar10
# clean_img
# gaussian_cifar10
# gaussian_feature
# gaussian_filtered_cifar10
# gaussian_filtered_timgnet
# generate_img
# resnet_feature1_adv
# resnet_feature1_clean
# resnet_feature2_adv
# resnet_feature2_clean
# resnet_featire3_adv
# resnet_featire3_clean
# resnet_pic
# shuffle_feature_fgsm
# shuffle_feature_pgd
# timgnet_clean_filtered_img
# timgnet_clean_img
# timgnet_fgsm_filtered_img
# timgnet_fgsm_img
# timgnet_pgd_filtered_img
# timgnet_pgd_img
# timgnet_super_resolution_img
# unshuffle_feature
# unshuffle_feature_fgsm
# unshuffle_feature_pgd
runs
!runs/
core
comdefend.py
*.jpg
*.JPEG
*.zip
*.txt
*.pyc
